div.split-left{
    min-height: 100%;
    width: 35%;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(220, 122, 86);
}
div.split-right{
    height: 100%;
    width: 65%;
    right: 0;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 0px;
    background-color: white;
}
div.centered-grid{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
div.centered-panel-elem{
    position: relative;
    text-align: center;
    color: white;
}
div.grid-container-7{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto
}
div.grid-container-10{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto
}
div.grid-item{
    border: 0.7px solid rgba(0, 0, 0, 0.6);
    background-clip: padding-box;
    height: 45px;
    width: 45px;
    text-align: center;
    font-size: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
    user-select: none;
}
div.black-cell{
    background-color: black;
    color: white;
}
div.green-black-cell{
    background-color: black;
    color: rgb(3, 175, 3);
}
div.yellow-cell{
    background-color: rgba(255, 255, 0, 0.5);
}
div.red-cell{
    background-color: rgba(255,0,0,0.5);
}
.hide{
    display: none;
}